*{
    font-family: 'Roboto Flex', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style-type: none;
}

.index{
    background-image: url(/ImgSpa/home-spa-.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.home{
    margin-top: 5rem;
    text-align: center;
    font-size: 48px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

/* .container{
    border: 1px solid #ccc;
    padding: 4px;
} */

.inicio{
    background-color: #FFEDDB;
}
.navbar{
    background-color: rgb(250, 193, 193);
    position: fixed;
    width: 100%;
    z-index: +1;
    align-items: center;
    margin-top: 0;

}

.link{
    color: black;
    transition: all 0.3s;
    font-size: 18px;
    align-items: center;
}

.link:hover{
    color: beige;
    transform: scale(1.2);
}

.navbar-brand{
    margin-left: 5rem;
    align-items: center;

}

.bx-heart-circle{
    align-items: center;
    font-size: 25px;
    padding-right: 5px;
    
}

.navbar-collapse{
    justify-content: center;
}

.navbar-collapse a {
    margin: 0 30px;
}

.bx-cart{
    font-size: 20px;
}


.main{
    background-image: url(/ImgSpa/Slider-Spa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
    height: 700px;
}

.text-inicio{
    align-items: center;
    padding-top: 15rem; 
}

.text-inicio h1, h2{
    font-size: 45px;
}


.text_descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin: 5rem;
    

}

.text-serv{
padding-top: 5rem;
}

.conteiner-serv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.row{
    gap: 1.4rem;
    justify-content: center;
    }
.card{
    
    align-items: center;
    background-color: transparent;
    width: 300px;  
    border: none;
    --bs-card-spacer-y: 0%;
    --bs-card-spacer-x: 0;
    
}

.servicio{
    margin: 1.5rem 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #F9C5D5;
    box-sizing: border-box;
    transition: all 0.5s;  
    
}
.card-body{
    margin: 1.5rem 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #F9C5D5;
    box-sizing: border-box;
    transition: all 0.5s;  
    
}

.servicio:hover{
    transform: scale(1.1);
    
}


.img-serv{
    width: 300px;
    height: 300px;
 }

 .imagen{
    width: 300px;
    height: 300px;
 }
 

.btn__group{
    margin-bottom: 2px;
}

 /* footer */

footer{
    background-color: #E4AEC5;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10rem;

 }

.text-footer{
    margin-top: 5rem;
    
    
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.icono-contacto{
    margin: 2rem;
    color: black;
    font-size: 20px;
    transition: all 0.3s;
    border: solid 1px black !important;
       
}

.icono-contacto:hover{
    color: beige;
    transform: scale(1.3);
    border-color: beige !important;
}

.conteiner-carrito{
    padding-top: 10rem;
}

.btn-finalizar{
    background-color:#E4AEC5 ;
    color: aliceblue;  
}

.btn-primary{
    background-color: #d35a8e;
    color: aliceblue;
    border-color: aliceblue;
    
}

.btn:hover {
    color: #d35a8e;
    background-color: aliceblue;
    border-color: #d35a8e;
}

.btn-tostify{
    background-color: #d35a8e;
    color: aliceblue;
    border-color: aliceblue;
    background: #d35a8e;
}

.staff{
    padding-top: 8rem;
    text-align: center;
}
